# dataset

# import libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [3]:
data=pd.read_csv(r"C:\Users\sir\Desktop\Durgesh_7\22_sep_2023\Iris.csv")

In [4]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
data1=data.drop(columns="Id")

In [9]:
data1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [10]:
data2=data.drop(columns="SepalLengthCm")

In [11]:
data2

      Id  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0      1           3.5            1.4           0.2     Iris-setosa
1      2           3.0            1.4           0.2     Iris-setosa
2      3           3.2            1.3           0.2     Iris-setosa
3      4           3.1            1.5           0.2     Iris-setosa
4      5           3.6            1.4           0.2     Iris-setosa
..   ...           ...            ...           ...             ...
145  146           3.0            5.2           2.3  Iris-virginica
146  147           2.5            5.0           1.9  Iris-virginica
147  148           3.0            5.2           2.0  Iris-virginica
148  149           3.4            5.4           2.3  Iris-virginica
149  150           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [12]:
data3=data.drop(columns="SepalWidthCm")

In [13]:
data3

      Id  SepalLengthCm  PetalLengthCm  PetalWidthCm         Species
0      1            5.1            1.4           0.2     Iris-setosa
1      2            4.9            1.4           0.2     Iris-setosa
2      3            4.7            1.3           0.2     Iris-setosa
3      4            4.6            1.5           0.2     Iris-setosa
4      5            5.0            1.4           0.2     Iris-setosa
..   ...            ...            ...           ...             ...
145  146            6.7            5.2           2.3  Iris-virginica
146  147            6.3            5.0           1.9  Iris-virginica
147  148            6.5            5.2           2.0  Iris-virginica
148  149            6.2            5.4           2.3  Iris-virginica
149  150            5.9            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [14]:
data4 = data.drop(columns="PetalLengthCm")

In [17]:
data4=data.drop(columns="PetalLengthCm")

In [18]:
data4

      Id  SepalLengthCm  SepalWidthCm  PetalWidthCm         Species
0      1            5.1           3.5           0.2     Iris-setosa
1      2            4.9           3.0           0.2     Iris-setosa
2      3            4.7           3.2           0.2     Iris-setosa
3      4            4.6           3.1           0.2     Iris-setosa
4      5            5.0           3.6           0.2     Iris-setosa
..   ...            ...           ...           ...             ...
145  146            6.7           3.0           2.3  Iris-virginica
146  147            6.3           2.5           1.9  Iris-virginica
147  148            6.5           3.0           2.0  Iris-virginica
148  149            6.2           3.4           2.3  Iris-virginica
149  150            5.9           3.0           1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
data5=data.drop(columns="PetalWidthCm")

In [20]:
data5

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species
0      1            5.1           3.5            1.4     Iris-setosa
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

[150 rows x 5 columns]

In [21]:
data6=data.drop(columns="PetalWidthCm")

In [22]:
data6

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm         Species
0      1            5.1           3.5            1.4     Iris-setosa
1      2            4.9           3.0            1.4     Iris-setosa
2      3            4.7           3.2            1.3     Iris-setosa
3      4            4.6           3.1            1.5     Iris-setosa
4      5            5.0           3.6            1.4     Iris-setosa
..   ...            ...           ...            ...             ...
145  146            6.7           3.0            5.2  Iris-virginica
146  147            6.3           2.5            5.0  Iris-virginica
147  148            6.5           3.0            5.2  Iris-virginica
148  149            6.2           3.4            5.4  Iris-virginica
149  150            5.9           3.0            5.1  Iris-virginica

[150 rows x 5 columns]

# columns visulization

In [23]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [24]:
x=data.iloc[: , 0:5]

In [25]:
x

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

In [28]:
z=data.iloc[: , 1:6]

In [29]:
z

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [26]:
y=data.iloc[: , 5]

In [27]:
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object